.tfac-activity-module {
  // TODO - change background to proper image this one is incorrect.
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 8vh 0;

  .tfac-activity-title {
    letter-spacing: 2px;
    padding: 0 2vw 3vh;

    @media #{$tablet-up} {
      padding: 0 0 3vh;
    }

    @media #{$desktop-only} {
      font-size: 2.2vw;
    }
  }
}

.tfac-activity-content {
  position: relative;
  width: 100%;

  @media #{$portrait} {
    flex-wrap: wrap;
  }
}

.tfac-activity-item {
  width: 30%;
  min-width: 200px;
  position: relative;
  z-index: 2;
  background: $white;
  box-shadow: 0 0 50px rgba( 0, 0, 0, .2 );

  @media #{$tablet-only} {
    width: 32%;
  }
  @media #{$portrait} {
    width: 100%;
    box-shadow: 0 0 20px rgba( 0, 0, 0, .2 );
    margin-bottom: 2vh;
  }

  .item-image {
    width: 100%;
    height: auto;
    padding-top: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $white;
    position: relative;

    &:before {
      @include pseudo();
      width: 100%;
      height: 100%;
      top: 0;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,.09) 60%,rgba(0,0,0,.8) 100%);
    }

    @media #{$portrait} {
      padding-top: 40%;
    }

    h5 {
      position: absolute;
      bottom: 20px;
      left: 20px;

      @media #{$portrait} {
        font-size: 5vw;
      }
    }
  }

  .item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $white;
    padding: 1.2vw;

    @media #{$portrait} {
      padding: 3vw;
    }

    .tfac-btn {
      margin-top: 2vh;
    }
  }

  .item-text {
    width: 55%;
    padding-right: 1vw;

    @media #{$portrait} {
      width: 70%;

      p {
        font-size: 4vw;
        padding-right: 5vw;
        line-height: 5vw;
      }
    }
  }

  .item-actions {
    width: 25%;
    padding-left: 2vw;

    @media #{$portrait} {
      width: 30%;
    }
  }
}

// Quantiy Query [ At Most 2 ]
.tfac-activity-item:nth-last-child( -n+2 ):first-child,
.tfac-activity-item:nth-last-child( -n+2 ):first-child ~ .tfac-activity-item {
  width: 48%;

  @media #{$portrait} {
    width: 100%;
    margin-bottom: 2vh;
  }

  .item-image {
    padding-top: 50%;
  }
}

.tfac-promo-item {
  position: relative;

  .item-content {
    display: block;
    padding: 0;

    @media #{$portrait} {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }

  .tfac-promo-text {
    width: 100%;
    padding: 1.2vw 1vw 0;

    @media #{$portrait} {
      padding: 3vw;
      width: 70%;

      p {
        font-size: 3vw;
        line0height: 3.5vw;
      }
    }
  }

  .tfac-promo-action {
    width: 100%;
    padding: 1vw;

    @media #{$portrait} {
      padding: 3vw;
      width: 30%;
    }
  }

  .tfac-promo-title {
    font-size: 1.2vw;
    font-weight: 700;
    padding-bottom: 1vw;
    display: block;

    @media #{$portrait} {
      font-size: 2.4vw;
    }
    @media #{$phone-only} {
      font-size: 4.2vw;
    }
  }
}

.tfac-promo-type {
  width: 100%;
  position: relative;

  span {
    display: inline-block;
    padding: 1.2vw 1.8vw 1.2vw 1.2vw;
    font-weight: 900;
    letter-spacing: 1px;
    background: $black;
    min-width: 30%;
    position: relative;
    left: -1px;
    top: -1px;
    // Activate Nav Background    max-width: 75%;
    clip-path: polygon( 0 0, 100% 0%, 84% 100%, 0 89% );
    font-size: 1.2vw;

    @media #{$portrait} {
      padding: 1.8vw 2.2vw 1.8vw 1.8vw;
      font-size: 3vw;
      min-width: 15%;
    }
    @media #{$phone-only} {
      padding: 2.8vw 6.2vw 2.8vw 2.8vw;
      font-size: 3.7vw;
    }
    @media #{$laptop-only} {
      font-size: 1vw;
    }
  }
}
.u-scooch {
  margin-top: 1vw;

  @media #{$portrait} {
    marti-top: 2vh;
  }
}
