.tfac-activity-module {
  // TODO - change background to proper image this one is incorrect.
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 8vh 0;

  .tfac-activity-title {
    letter-spacing: 2px;
    padding: 0 2vw 3vh;

    @media #{$tablet-up} {
      padding: 0 0 3vh;
    }
  }
}

.tfac-activity-content {
  position: relative;
  width: 100%;

  @media #{$portrait} {
    flex-wrap: wrap;
  }
}

.tfac-activity-item {
  width: 30%;
  min-width: 200px;
  position: relative;
  z-index: 2;
  background: $white;
  box-shadow: 0 0 50px rgba(0,0,0,.5);

  @media #{$tablet-only} {
    width: 33%;
  }
  @media #{$portrait} {
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
  }
  @media #{$laptop-only} {
    width: 32%;
  }

  .item-image {
    width: 100%;
    height: auto;
    padding-top: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $white;
    position: relative;

    @media #{$portrait} {
      padding-top: 40%;
    }

    h5 {
      position: absolute;
      bottom: 20px;
      left: 20px;

      @media #{$portrait} {
        font-size: 5vw;
      }
    }
  }

  .item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $white;
    padding: 1.2vw;

    @media #{$portrait} {
      padding: 3vw;
    }
  }

  .item-text {
    width: 55%;
    padding-right: 1vw;

    @media #{$portrait} {
      width: 70%;

      p {
        font-size: 4vw;
        padding-right: 5vw;
        line-height: 5vw;
      }
    }
  }

  .item-actions {
    width: 45%;
    padding-left: 2vw;

    @media #{$portrait} {
      width: 30%;
    }

    .tfac-btn {
      width: 100%;
      text-align: center;
    }

    img {
      padding-bottom: $tfac-padding-sm;
    }
  }
}

.tfac-promo-item {
  position: relative;

  .item-content {
    display: block;
    padding: 0;

    @media #{$portrait} {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
  }

  .tfac-promo-text {
    width: 100%;
    padding: 1.2vw 1vw 0;

    @media #{$portrait} {
      padding: 3vw;
      width: 70%;

      p {
        font-size: 3vw;
        line0height: 3.5vw;
      }
    }
  }

  .tfac-promo-action {
    width: 100%;
    padding: 1vw;

    @media #{$portrait} {
      padding: 3vw;
      width: 30%;
    }
  }

  .tfac-promo-title {
    font-size: 1.2vw;
    font-weight: 700;
    padding-bottom: 1vw;
    display: block;

    @media #{$portrait} {
      font-size: 2.4vw;
    }
    @media #{$phone-only} {
      font-size: 4.2vw;
    }
  }
}

.tfac-promo-type {
  width: 100%;
  position: relative;

  span {
    display: inline-block;
    padding: 1.2vw 1.8vw 1.2vw 1.2vw;
    font-weight: 900;
    letter-spacing: 1px;
    background: $black;
    min-width: 30%;
    position: relative;
    left: -1px;
    top: -1px;
    // Activate Nav Background    max-width: 75%;
    clip-path: polygon(0 0, 100% 0%, 84% 100%, 0 89%);
    font-size: 1vw;

    @media #{$portrait} {
      padding: 1.8vw 2.2vw 1.8vw 1.8vw;
      font-size: 3vw;
      min-width: 15%;
    }
    @media #{$phone-only} {
      padding: 2.8vw 6.2vw 2.8vw 2.8vw;
      font-size: 3.7vw;
    }
    @media #{$laptop-only} {
      font-size: 1vw;
    }
  }
}
