.arcade-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  
  h2 {
    font-size: 60px;
    padding-bottom: $tfac-padding-sm;
    line-height: 72px;
  }
  
  p {
    line-height: $line-height-sm;
  }
}

.game-showcase {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
  
  .showcase-intro {
    width: 35%;
  }
  
  h3 {
    font-size: 40px;
    letter-spacing: $letter-spacing-md;
    padding-bottom: $tfac-padding-sm;
  }
  
  p {
    line-height: $line-height-sm;
    padding-bottom: $tfac-padding-lg;
  }
}

.game-tiles {
  width: 52%;
}

.tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px;
  
  .tile {
    width: 352px;
    height: 167px;
    margin: 10px;
  }
}