.tfac-page-intro {
  flex-direction: row;
  margin-top: 7vh;

  @media #{$portrait} {
    margin-top: 5vh;
  }

  h2 {
    padding-bottom: $tfac-padding-sm;
  }
}

.tfac-grid-showcase {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;

  .tfac-showcase-intro {
    width: 35%;
  }

  h3 {
    padding-bottom: $tfac-padding-sm;
  }

  p {
    padding-bottom: $tfac-padding-lg;
  }
}

.tfac-grid-tiles {
  width: 52%;

  .tfac-tile {
    width: 48%;
    margin: 1%;
    overflow: hidden;
    height: 23%;

    img {
      width: 100%;
    }
  }
}

