/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.tfac-btn {
  width: auto;
  padding: $tfac-lato-button-pad;
  transition: all, .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  font-size: inherit;
  position: relative;
}

.tfac-main-cta {
  font-family: $main-font;
  font-weight: 900;
  color: $black;
  background: $tfac-green;
}

.tfac-btn-arrow {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 8px solid transparent;
  border-left: 11px solid $black;
  border-bottom: 8px solid transparent;
  vertical-align: middle;
}
