/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.tfac-btn {
  width: auto;
  padding: 2.6vw 3vw 2vw;
  transition: all, .3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  position: relative;
  font-family: $main-font;
  font-weight: 900;
  appareance: none;
  font-size: 4vw;
  border: none;

  @media #{$tablet-up} {
    font-size: 0.94vw;
    padding: 1.14vw 1.14vw .9vw;
  }

  @media #{$tablet-prt-only} {
    font-size: 1.3vw;
    padding: 2vw 1.8vw 1.8vw;
  }
}

.tfac-cta-small {
  padding: 2.6vw 3vw 2vw;
  @media #{$tablet-up} {
    padding: .8vw .8vw .6vw;
  }

  @media #{$tablet-prt-only} {
    padding: 2vw 1.8vw 1.8vw;
  }
}

.tfac-main-cta {
  color: $black;
  background: $tfac-green;
}

.tfac-secondary-cta {
  color: $white;
  background: $tfac-blue;

  .tfac-btn-arrow {
    border-left: 1.5vw solid $white;

    @media #{$desktop-up} {
      border-left: .5vw solid $white;
    }
    @media #{$tablet-only} {
      border-left: .5vw solid $white;
    }
  }
}

.tfac-btn-arrow {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
  border-top: 1.4vw solid transparent;
  border-left: 1.5vw solid $black;
  border-bottom: 1.4vw solid transparent;

  @media #{$desktop-up} {
    border-top: .4vw solid transparent;
    border-left: .5vw solid $black;
    border-bottom: .4vw solid transparent;
  }
  @media #{$tablet-only} {
    border-top: .5vw solid transparent;
    border-left: .6vw solid $black;
    border-bottom: .5vw solid transparent;
  }
  @media #{$laptop-only} {
    border-top: .4vw solid transparent;
    border-left: .5vw solid $black;
    border-bottom: .4vw solid transparent;
  }
  @media #{$xl-up} {
    border-top: .45vw solid transparent;
    border-left: .55vw solid $black;
    border-bottom: .45vw solid transparent;
  }
}

.cta-small-link {
  float: right;
  display: flex;
  aling-items: center;

  @media #{$tablet-up} {
    font-size: 1.2vw;
  }
}
