.tfac-card-module {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;

  @media #{$tablet-up} {
    flex-wrap: nowrap;
  }

  .tfac-card {
    width: 100%;
    position: relative;
    background: $white;
    box-shadow: 0 0 15px rgba(0,0,0,.5);

    @media #{$tablet-up} {
      width: 24%;
      box-shadow: 0 0 50px rgba(0,0,0,.5);
    }
  }

  .tfac-card-image {
    width: 100%;
    padding-top: 50%;
    background-size: cover;

    @media #{$tablet-up} {
      padding-top: 70%;
    }
  }

  .tfac-card-content {
    padding: 3vw 3vw 8vw;

    @media #{$tablet-up} {
      padding: 1.5vw;
    }
  }

  .tfac-card-title {
    font-size: 4.5vw;
    padding-bottom: 3vw;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media #{$tablet-up} {
      font-size: 1.5vw;
      padding-bottom: 1vw;
    }
  }

  p {
    padding-bottom: 2.5vw;

    @media #{$tablet-prt-only} {
      font-size: 1.5vw;
      line-height: 1.7vw;
    }
  }

  .tfac-card-link {
    color: $tfac-blue;
    font-size: 3vw;
    display: inline-block;
    position: absolute;
    right: 3vw;
    bottom: 3vw;

    @media #{$tablet-up} {
      right: 1.5vw;
      bottom: 1.5vw;
      font-size: 1.2vw;
    }
  }
}


