.tfac-film-strip {
  width: 100%;
  margin-bottom: 5vh;
  overflow: hidden;

  .tfac-cell {
    width: 25%;
    flex-grow: 2;
    display: block;
    height: 14vh;
    background-size: cover;

    @media #{$tablet-up} {
      height: 23vh;
    }
    @media #{$tablet-prt-only} {
      height: 12vh;
    }

    &:first-child,
    &:last-child {
      width: 13%;
      flex-grow: 1;
      height: 16vh;
      display: none;
      @media #{$tablet-up} {
        display: block;
      }
      @media #{$tablet-prt-only} {
        height: 10vh;
      }
    }
  }
  .tfac-main-cell {
    flex-grow: 3;
    width: 30%;
    background-size: cover;
    height: 18vh;

    @media #{$tablet-up} {
      height: 28vh;
    }
    @media #{$tablet-prt-only} {
      height: 15vh;
    }
  }
}
