// Main Footer
.tfac-main-footer {
  background-color: #000;
  padding: 60px 0;
  color: $white;
  overflow: hidden;

  @media #{$tablet-prt-only} {
    display: none;
  }

  h5 {
    padding-bottom: .6vw;

    @media #{$tablet-only} {
      padding-bottom: $tfac-padding-sm;
    }

    @media #{$desktop-only} {
      font-size: 28px;
    }
  }
}

.tfac-footer-brand {
  position: relative;
  width: 100%;
  text-align: center;

  @media #{$tablet-up} {
    width: 25%;
  }

  img {
    width: 40%;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -25px;
    z-index: 2;
  }

  h4 {
    padding-top: $tfac-padding-lg;

    @media #{$phone-only} {
      font-size: 6vw;
    }
  }
}

// Footer Nav
.tfac-footer-nav {
  position: relative;
  width: 53%;
  display: none;

  @media #{$tablet-up} {
    display: flex;
  }
  @media #{$laptop-only} {
    min-width: 617px;
  }
  @media #{$desktop-up} {
    min-width: 800px;
  }

  .tfac-btn {
    width: 64%;
    margin-top: 2vh;

    @media #{$laptop-up} {
      min-width: 185px;
    }
  }
}

// Footer Social
.tfac-footer-social {
  position: relative;
  width: 15%;
  display: none;

  @media #{$tablet-up} {
    display: flex;
    flex-wrap: wrap;
  }
}
// Social Links
.tfac-social {
  width: 100%;
  position: relative;

  .tfac-social-link {
    height: 50px;
    padding: 30px 0;
    border-bottom: 1px solid $white;
    text-transform: capitalize;
    font-size: 1.2vw;

    @media #{$tablet-only} {
      padding: 1.2vw 0;
    }
    @media #{$xl-up} {
      padding: 1.4vw 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  img {
    width: 15%;
    margin-right: $tfac-padding-md;
    height: auto;
  }
}

// Footer Scaffold
.tfac-footer-content {

  @media #{$tablet-up} {
    margin: 0 20px;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.tfac-footer-column {
  margin: 0 20px;

  @media #{$xl-up} {
    margin: 0 1.5vw;
  }

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  a {
    line-height: 1.4vw;
    width: 100%;
    display: block;
    font-size: 1vw;

    @media #{$tablet-only} {
      font-size: 1.2vw;
      line-height: 1.7vw;
    }
    @media #{$xl-up} {
      line-height: 1.2vw;
    }
  }
}

// Footer Form
.tfac-footer-form {
  font-size: 5vw;

  @media #{$tablet-up} {
    font-size: 1vw;
  }

  .tfac-btn,
  .footer-input {
    height: 60px;
    margin-top: 20px;

    @media #{$tablet-up} {
      height: 40px;
    }
    @media #{$desktop-only} {
      height: 60px;
      font-size: 1.3vw;
    }
    @media #{$xl-up} {
      height: auto;
    }
  }

  .tfac-btn {
    width: 27%;
    padding: 1.2vw 1vw;

    @media #{$tablet-up} {
      padding: 1vw;
    }
  }

  .tfac-btn-arrow {
    margin-left: 0;
    border-top: .25vw solid transparent;
    border-bottom: .25vw solid transparent;
    /* Needs !Important...*/
    /* stylelint-disable */
    border-left: .25vw solid #fafafa !important;
    /* stylelint-enable */
    @media #{$laptop-up} {
      position: absolute;
      @include center(vertical);
      top: 51%;
      right: .5vw;
    }
  }
}

// Copyright
.copyright {
  background: blue;
  background-color: $black;
  color: $white;
  padding: .3vw 0;

  .mdev-main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media #{$tablet-up} {
      flex-wrap: nowrap;
    }
  }

  .copy {
    text-align: center;

    span {
      padding-left: 15px;

      @media #{$tablet-up} {
        padding-left: $tfac-padding-md;
      }
    }
  }
  a {
    color: $tfac-blue;
  }

  p {
    font-size: 2.5vw;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;

    @media #{$tablet-up} {
      width: auto;
      letter-spacing: auto;
      text-align: left;
      font-size: .7vw;
    }
    @media #{$tablet-prt-only} {
      font-size: 1.6vw;
    }
    @media #{$xl-up} {
      font-size: 1vw;
    }
  }
}

.tfac-footer-address {
  line-height: 1.4vw;

  @media #{$tablet-only} {
    font-size: 1vw;
  }
}

//Mobile
.tfac-footer-mobile {
  display: block;
  width: 100%;
  text-align: center;

  @media #{$tablet-up} {
    display: none;
  }

  .tfac-mobile-social {
    width: 100%;
    position: relative;
    margin-top: 9vh;

    .tfac-social-link {
      width: 18%;
    }
  }

  .tfac-mobile-address {
    margin: 2vh 0;

    h3 {
      margin-bottom: 2vh;
    }

    a {
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: underline;
      margin-top: 2vh;
    }
  }
}
