form {
  width: 100%;
  position: relative;
  font-family: $main-font;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border: 1px solid red!important;
  color: red!important;
}
input {
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    padding: 20px;
    background: $white;
    border: none;
    outline: 0;
    font-size: inherit;
  }

  &[type="button"],
  &[type="submit"] {
    @extend .tfac-btn;
  }
}

/* stylelint-enable */

/* Form Scaffolding */

.mdev-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.mdev-action-group {
  width: 100%;
  position: relative;
}

