.tfac-grid-showcase {
  padding: 10vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $white;

  @media #{$tablet-up} {
    flex-wrap: nowrap;
  }

  .tfac-showcase-intro {
    width: 100%;
    order: 2;
    margin-top: 4vh;

    @media #{$tablet-up} {
      width: 35%;
      order: 1;
      margin: 0;
    }
  }

  h3 {
    padding-bottom: $tfac-padding-sm;
  }

  p {
    padding-bottom: $tfac-padding-lg;
  }
}

.tfac-grid-tiles {
  width: 100%;
  order: 1;

  @media #{$tablet-up} {
    width: 52%;
    order: 2;
  }

  .tfac-tile {
    width: 48%;
    margin: 1%;
    overflow: hidden;
    height: 23%;

    img {
      width: 100%;
    }
  }
}

