// Main Icons

.tfac-icon {
  display: inline-block;
  color: inherit;
  background: inherit;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

// Size Modifiers

.tfac-icon-sm {
  width: 9.3vw;
  height: 9.3vw;

  @media #{$tablet-up} {
    height: 1.3vw;
    width: 1.3vw;
  }
}

.tfac-icon-md {
  width: 9.3vw;
  height: 9.3vw;

  @media #{$tablet-up} {
    height: 2.8vw;
    width: 2.8vw;
  }
}

.tfac-icon-lg {
  width: 9.3vw;
  height: 9.3vw;

  @media #{$tablet-up} {
    height: 2vw;
    width: 2vw;
  }
}

// Icon Background
.icon-faq {
  background-image: url('../img/icons/icon-faq.svg');
}

// Icon Links
.tfac-link-icon {
  display: flex;
  align-items: center;
  font-size: 1vw;

  @media #{$portrait} {
    font-size: 2vw;
  }
}
