/* stylelint-disable */
.tfac-image-feature {
  width: 100%;
  position: relative;
  padding: 2vh 0 10vh;

  img {
    width: 100%;
  }
}

.tfac-image-feature-content {
  width: 100%;
  position: relative;


  .tfac-image-main {
    width: 100%;
    z-index: 3;
    position: relative;

    @media #{$tablet-only} {
      width: 65%;
    }
    @media #{$portrait} {
      width: 100%;
    }
    @media #{$laptop-up} {
      width: 55%;
    }
  }

  .tfac-image-back {
    width: 30%;
    z-index: 1;
    position: relative;
    margin-top: -17%;
    @media #{$portrait} {
      display: none;
    }
    @media #{$tablet-only} {
      margin-top: -24%;
    }
    @media #{$laptop-only} {
      margin-top: -19%;
    }
  }

  .tfac-feature-text {
    margin: 1.5vw 0;
    padding: 2vw 3vw;

    @media #{$phone-only} {
      flex-wrap: wrap;
    }

    .tfac-arcade-title {
      flex-basis: 50%;
      text-align: center;
      margin-right: 1vw;

      @media #{$phone-only} {
        width: 100%;
        text-align: left;
        margin-bottom: 2vh;
      }
    }

    .button_wrapper {
      margin-top: 20px;
      display: flex;
      text-align: right;
    }

    a {
      margin-left: auto;
    }
  }
}
/* stylelint-enable */
