.tfac-stats-intro {
  width: 100%;
  position: relative;

  .tfac-stats-content {
    width: 100%;
    padding-top: 5vh;

    @media #{$tablet-up} {
      width: 50%;
    }
  }

  .tfac-stats {
    width: 100%;
    position: relative;
    padding-top: 5vh;
  }

  .tfac-data {
    text-align: center;
    width: 25%;

    p {
      margin-top: 1vw;
    }
  }

  h2 {
    margin-bottom: 1vw;
  }
}

.tfac-stats-feature {
  width: 26%;
  justify-content: center;
  position: relative;
  z-index: -1;
  background: url('/img/splashes/splash-long.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 38% 0;
  margin-top: -29vh;
  display: none;

  @media #{$tablet-up} {
    display: block;
  }
  @media #{$tablet-only} {
    margin-top: -19vh;
  }
  @media #{$tablet-prt-only} {
    padding: 55% 0;
  }
  @media #{$laptop-only} {
    margin-top: -27vh;
  }
}

.tfac-stats-feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140%;
  @include center(both);
  box-shadow: 0 0 45px 5px rgba(0, 0, 0, .5);
  background: $white;

  @media #{$tablet-only} {
    width: 160%;
  }
}

.tfac-stats-activity {
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: stretch;

  @media #{$tablet-prt-only} {
    height: 13vh;
  }

  .activity-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;

    h5 {
      color: $white;
    }
  }

  .activity-content {
    background: $white;
    position: relative;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-bottom: 1.5vw;
    }
  }

  .tfac-more {
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    text-transform: uppercase;
    color: $tfac-blue;
    font-size: 1vw;
  }
}

.tfac-page-intro {
  flex-direction: row;
  margin-top: 7vh;
  flex-wrap: wrap;

  @media #{$tablet-up} {
    flex-wrap: nowrap;
  }
  @media #{$portrait} {
    margin-top: 5vh;
  }

  .tfac-intro-content {
    width: 100%;

    @media #{$tablet-up} {
      width: 70%;
    }
  }

  h2 {
    padding-bottom: $tfac-padding-sm;
  }
  .tfac-intro-image {
    width: 100%;

    @media #{$tablet-up} {
      width: 35%;
    }

    img {
      width: 100%;
    }
  }
}

