.tfac-mobile-nav {
  position: fixed;
  display: none;
  right: 0;
  left: 0;
  background: #000;
  width: 100%;
  padding: 2vw;
  z-index: 200;
  height: 100%;

  img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .tfac-btn {
    width: 100%;
    text-align: center;
    margin: 2vw 0;
  }
}

.tfac-accordion-nav {
  width: 100%;
  position: relative;
  color: $white;

  .tfac-accordion-item {
    width: 100%;
    border-bottom: 1px solid $tfac-green;
  }

  .tfac-accordion-title {
    width: 100%;
    padding: 1vw;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
  }
}

.tfac-accordion-hidden {
  width: 100%;
  background: #333;

  a {
    width: 100%;
    display: block;
    padding: 1vw 2vw;
    border-bottom: 1px solid $tfac-green;
  }
}

