.tfac-adventure-plan {
  padding: 20vh 0 10vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  h3 {
    letter-spacing: 2px;
    text-align: center;
  }

  .tfac-plan-content {
    background-color: rgba(250, 250, 250, .8);
    padding: 2vw;
  }

  .tfac-plan-item-wrapper {
    width: 100%;
    position: relative;
  }

  .tfac-plan-item {
    width: 20%;
    position: relative;
  }

  img {
    width: auto;
    height: 20%;
    display: block;
    margin: 1.5vw auto;

    @media #{$tablet-only} {
      margin: 2vw auto;
    }
  }

  p {
    margin-bottom: 3.5vw;

    @media #{$tablet-only} {
      margin-bottom: 1.5vw;
    }
    @media #{$laptop-up} {
      margin-bottom: 2vw;
    }
    @media #{$xl-up} {
      margin-bottom: 3.5vw;
    }
  }

  h5 {
    padding-bottom: $tfac-padding-sm;

    @media #{$tablet-only} {
      font-size: 1.6vw;
    }
    @media #{$tablet-prt-only} {
      font-size: 1.6vw;
      font-weight: 700;
    }
  }

  .link-wrapper {
    position: absolute;
    bottom: 1vw;

    a {
      letter-spacing: $letter-spacing-md;
      @media #{$tablet-only} {
        font-size: 1.1vw;
        latter-spacing: 1px;
      }
    }
  }
}
