.mdev-adventure-plan {
  
  padding: 250px 0 100px;
  
  h3 {
    letter-spacing: 2px;
    line-height: $line-height-md;
    font-size: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .plan-content {
    background-color: rgba(250, 250, 250, .8);
    padding: 40px;
  }
    
  .plan-item-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
    
  .plan-item {
    width: 250px;
  }
  img {
    display: block;
    margin: 30px auto;
    height: 95px;
    width: auto;
  }
  h5 {
    font-size: 24px;
    letter-spacing: $letter-spacing-md;
    padding-bottom: $tfac-padding-sm;
  }
  p {
    line-height: $line-height-sm;
  }
  
  .link-wrapper {
    padding-top: $tfac-padding-sm;
    
    a {
      letter-spacing: $letter-spacing-md;
      font-size: $font-size-slogan;
    }
  }
}