.tfac-adventure-plan {
  padding: 40vh 0 10vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  h3 {
    letter-spacing: 2px;
    text-align: center;

    @media #{$phone-only} {
      margin: 5vh 0;
    }
  }

  .mdev-main-wrapper {
    @media #{$desktop-only} {
      max-width: 1750px;
    }
  }

  .tfac-plan-content {
    background-color: rgba( 250, 250, 250, .8 );
    padding: 2vw;
    position: relative;
    z-index: 6;
    box-shadow: 0 0 30px rgba( 0, 0, 0, .2 );
  }

  .tfac-plan-item-wrapper {
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    @media #{$tablet-up} {
      flex-wrap: nowrap;
    }
  }

  .tfac-plan-item {
    width: 50%;
    position: relative;
    text-align: center;

    @media #{$tablet-up} {
      width: 20%;
      text-align: left;
    }

    span {
      font-weight: 400;
    }
  }

  img {
    width: auto;
    height: 60%;
    display: block;
    margin: 1.5vw auto;

    @media #{$tablet-up} {
      height: 20%;
    }
    @media #{$tablet-only} {
      margin: 2vw auto;
    }
  }

  p {
    margin-bottom: 3.5vw;

    @media #{$phone-only} {
      display: none;
    }
    @media #{$tablet-only} {
      margin-bottom: 1.5vw;
    }
    @media #{$laptop-up} {
      margin-bottom: 2vw;
    }
    @media #{$xl-up} {
      margin-bottom: 5.5vw;
    }
  }

  h5 {
    padding-top: 2vw;
    padding-bottom: $tfac-padding-sm;

    @media #{$tablet-only} {
      font-size: 1.6vw;
    }
    @media #{$tablet-prt-only} {
      font-size: 1.6vw;
      font-weight: 700;
    }
  }

  .link-wrapper {
    position: absolute;
    bottom: 1vw;
    display: none;
    font-size: 1.2vw;
    font-weight: 400;
    text-transform: uppercase;

    @media #{$tablet-up} {
      display: block;
    }
  }
}
