.tfac-specialized-groups {
  padding: 10vh 0;

  @media #{$portrait} {
    padding: 5vh 0;
  }
}

.tfac-specialized-content {
  margin-top: 5vh;

  @media #{$portrait} {
    margin-top: 2vh;
    flex-wrap: wrap;
  }
}

.tfac-specialized-item {
  width: 29%;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  background: #fff;

  @media #{$portrait} {
    width: 100%;
    margin-bottom: 2vh;
  }
  @media #{$laptop-up} {
    width: 28%;
  }

  .item-image {
    width: 100%;
    height: auto;
    color: $white;
    position: relative;
    padding: 70% 1vw 1vw;
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$portrait} {
      padding: 40% 2vw 2vw;
    }
  }

  .item-content {
    padding: $tfac-padding-sm;
  }

  a {
    color: $tfac-blue;
  }

  .link-wrapper {
    margin-top: 2vh;
  }
}


