/*-------------------------------------
 * UTITLITIES
/-------------------------------------*/

//Text Utilities

.u-uppercase {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-align-top {
  vertical-align: top;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-middle {
  vertical-align: middle;
}

.u-normal-weight {
  font-weight: 400;
}

.u-heading-weight {
  font-weight: 700;
}

.u-underline {
  text-decoration: underline;
}

/* Disabling because of !important */
/* stylelint-disable */
.u-hidden-phone {
  @media #{$phone-only} {
    display: none !important;
  }
}

.u-hidden-tablet {
  @media #{$tablet-only} {
    display: none !important;
  }
}

.u-hidden-desktop {

  @media #{$tablet-up} {
    display: none !important;
  }
}

/* stylelint-enable */
.u-bold {
  font-weight: $heading-weight;
}

.u-normal {
  font-weight: $font-weight-body;
}

.u-hidden {
  display: none;
}

// Color Utilities
.u-green {
  color: $color-brand-primary;
}

.u-white {
  color: $white;
}

.u-freeze-scroll {
  height: 100vh;
  overflow: hidden;
}

// TFAC Colors
.tfac-green {
  color: $tfac-green;
  font-weight: $font-weight-bold;
}

.tfac-blue {
  font-weight: $font-weight-bold;
  color: $tfac-blue;
}

.tfac-red {
  font-weight: $font-weight-bold;
  color: $tfac-red;
}

.tfac-yellow {
  font-weight: $font-weight-bold;
  color: $tfac-yellow;
}

// Focal Points
.u-focus-left {
  background-position: left top;
}

.u-focus-right {
  background-position: right top;
}

.u-focus-center {
  background-position: center top;
}

.u-focus-middle {
  background-position: center;
}

.u-pad-top {
  padding-top: $tfac-padding-md;
}
