.tfac-vendor-cta {
  margin: 100px 0;
  flex-wrap: wrap;

  @media #{$tablet-up} {
    flex-wrap: nowrap;
  }

  .tfac-vendor-cta-logo {
    width: 100%;
    padding: 2vh 20%;

    @media #{$tablet-up} {
      width: 15%;
      padding: 0;
    }
  }

  .tfac-vendor-cta-content {
    width: 100%;
    margin: 2vh 0;

    @media #{$tablet-up} {
      width: 45%;
      margin: 0;
    }

    p {
      font-size: 1.2vw;
      line-height: 4vh;
    }
  }

  .tfac-vendor-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    @media #{$tablet-up} {
      width: 35%;
    }

    @media #{$laptop-up} {
      flex-wrap: nowrap;
    }

    .tfac-btn {
      width: 100%;
      text-align: center;
      margin-top: 1vh;

      @media #{$laptop-up} {
        width: 49%;
        margin: 0;
      }
    }
  }
}

.vr-filmstrip {
  margin: 100px 0;
}

.filmstrip-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;

  .left,
  .right {
    width: 25%;
    position: relative;
    z-index: 1;
  }

  .main {
    position: relative;
    z-index: 3;
    width: 50%;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .filmstrip-content {
      padding-top: $tfac-padding-sm;
    }

    .filmstrip-title {
      width: 70%;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
